<div class="about-wrapper container">
  <img
    loading="lazy"
    class="about-img"
    src="/src/img/about-img.jpg"
    alt="Team"
  />
  <h2 class="title about-title">Про нас</h2>
  <p class="about-desc">
    Ми — команда фахівців із багаторічним досвідом у сфері технічної
    інвентаризації, земельних та правових питань. Надаємо повний супровід у
    виготовленні технічної документації, приватизації земельних ділянок, а також
    в оцінці нерухомого майна.
  </p>
  <p class="about-desc">
    Наша мета — зробити складні юридично-технічні процеси простими, зрозумілими
    та зручними для вас. Ми цінуємо ваш час і завжди орієнтуємось на результат.
  </p>
</div>
