<div class="benefits-wrapper container">
  <h2 class="title">Чому ми?</h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <svg class="benefits-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-briefcase"></use>
      </svg>
      <h3>Досвідчені фахівці</h3>
      <p>
        Наша команда складається з професіоналів із багаторічним досвідом у
        своїй галузі.
      </p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-lock"></use>
      </svg>
      <h3>Конфіденційність гарантовано</h3>
      <p>Ми забезпечуємо повну безпеку та нерозголошення вашої інформації.</p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-user-check"></use>
      </svg>
      <h3>Індивідуальний підхід</h3>
      <p>
        Кожен клієнт отримує рішення, максимально адаптоване до його потреб.
      </p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-bell"></use>
      </svg>
      <h3>Швидкий зворотний зв'язок</h3>
      <p>Ми оперативно реагуємо на звернення та запити клієнтів.</p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-award"></use>
      </svg>
      <h3>Надійність та репутація</h3>
      <p>
        Нам довіряють, і ми цінуємо цю довіру, підтверджуючи її стабільними
        результатами.
      </p>
    </li>
    <li class="benefits-item">
      <svg class="benefits-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-clock"></use>
      </svg>
      <h3>Гнучкість і швидкість</h3>
      <p>
        Ми легко адаптуємось до змін і швидко реалізуємо поставлені завдання.
      </p>
    </li>
  </ul>
</div>
