<div class="footer-wrapper">
  <div class="container footer-container">
    <p><small>&copy; 2025 Всі права захищені</small></p>
    <address class="footer-contacts">
      <a class="footer-link" href="mailto:ofistulchin@gmail.com">
        <svg class="footer-icon" width="20" height="20">
          <use href="/src/img/icons.svg#icon-mail"></use>
        </svg>
        <span>ofistulchin@gmail.com</span></a
      >
      <a class="footer-link" href="tel:+380960034207">
        <svg class="footer-icon" width="20" height="20">
          <use href="/src/img/icons.svg#icon-phone"></use></svg
        ><span>+380 (960) 003-42-07</span>
      </a>
    </address>
  </div>
</div>
