<div class="header-wrapper container">
  <div class="header-logo-wrapper">
    <a href="#hero">
      <svg class="header-logo" width="70" height="70">
        <use href="/src/img/icons.svg#icon-logo-kvadrat"></use>
      </svg>
    </a>

    <h2 class="header-title">Юридично-технічний офіс</h2>
  </div>

  <ul class="header-nav-list">
    <li class="header-nav-item">
      <a href="#about" class="header-nav-link">Про нас</a>
    </li>
    <li class="header-nav-item">
      <a href="#services" class="header-nav-link">Послуги</a>
    </li>
    <li class="header-nav-item">
      <a href="#benefits" class="header-nav-link">Переваги</a>
    </li>
    <li class="header-nav-item">
      <a href="#form" class="header-nav-link">Зв'язатись з нами</a>
    </li>
  </ul>
  <div class="header-menu-wrapper">
    <button class="header-menu-btn" aria-label="Відкрити меню">
      <svg class="header-menu-icon" width="40" height="40">
        <use href="/src/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</div>
