<div class="container location-container">
  <h2 class="title">Як нас знайти?</h2>
  <div class="map-wrapper">
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2634.6213048372233!2d28.856868476453823!3d48.67448477130776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cd410ff9b0b0bb%3A0x263a969afd96a746!2z0K7RgNC40LTQuNGH0L3Qvi3RgtC10YXQvdGW0YfQvdC40Lkg0L7RhNGW0YEgItCa0LLQsNC00YDQsNGCINC_0LvRjtGBIg!5e0!3m2!1sru!2sua!4v1746029991576!5m2!1sru!2sua"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
      <div class="location-img-wrapper">
<img loading="lazy"
        class="location-img"
        src="/src/img/location.JPG"
        alt="Фото фасаду юридично-технічного офісу Квадрат Плюс"/>
      <a
      class="location-link"
        href="https://www.google.com/maps/place/Юридично-технічний+офіс+%22Квадрат+плюс%22/@48.6744883,28.8568685,17z"
        target="_blank"
        rel="noopener noreferrer"
         aria-label="Перейти до Google Maps для адреси: вулиця Незалежності, буд. 4, м. Тульчин"
      > <svg class="location-icon" width="20" height="20">
          <use href="/src/img/icons.svg#icon-map-pin"></use>
        <span>вулиця Незалежності, буд. 4, м. Тульчин, Вінницька область, 23600
        (навпроти "Гуси-Лебеді")</span>
      </a>
      </div>
  </div>
</div>
