<div class="reviews-wrapper">
  <div class="container">
    <div class="reviews-container">
      <h2 class="title">Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="reviews-list swiper-wrapper">
          <li class="review-item swiper-slide">
            <svg class="reviews-icon" width="40" height="40">
              <use href="/src/img/icons.svg#icon-profile-female"></use>
            </svg>
            <h3 class="review-name">Наталія М.</h3>
            <p class="review-desc">
              "Індивідуальний підхід і підтримка на кожному етапі. Рекомендую!"
            </p>
          </li>
          <li class="review-item swiper-slide">
            <svg class="reviews-icon" width="40" height="40">
              <use href="/src/img/icons.svg#icon-profile-male"></use>
            </svg>
            <h3 class="review-name">Олександр К.</h3>
            <p class="review-desc">
              "Дуже задоволений співпрацею! Все пройшло швидко та професійно."
            </p>
          </li>
          <li class="review-item swiper-slide">
            <svg class="reviews-icon" width="40" height="40">
              <use href="/src/img/icons.svg#icon-profile-male"></use>
            </svg>
            <h3 class="review-name">Ігор С.</h3>
            <p class="review-desc">
              "Високий рівень обслуговування та чіткість у деталях."
            </p>
          </li>
          <li class="review-item swiper-slide">
            <svg class="reviews-icon" width="40" height="40">
              <use href="/src/img/icons.svg#icon-profile-female"></use>
            </svg>
            <h3 class="review-name">Марина Л.</h3>
            <p class="review-desc">
              "Команда справді професійна і уважна до деталей."
            </p>
          </li>
        </ul>
        <div class="reviews-button-wrapper">
          <button class="reviews-swiper-button-prev">
            <svg class="reviews-swiper-button-prev-svg">
              <use href="/src/img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <button class="reviews-swiper-button-next">
            <svg class="reviews-swiper-button-next-svg">
              <use href="/src/img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
