<div class="services-wrapper container">
  <h2 class="title">Наші послуги</h2>
  <h3 class="services-list-title">Виготовлення технічного паспорту на:</h3>
  <ul class="services-main-list">
    <li class="services-main-item">квартиру</li>
    <li class="services-main-item">житловий(садовий, дачний) будинок</li>
    <li class="services-main-item">комплеск будівель та споруд</li>
  </ul>
  <h3 class="services-list-title">Супровід</h3>
  <ul class="services-added-list">
    <li class="services-added-item">приватизація земельних ділянок</li>
    <li class="services-added-item">
      оцінка (нерухомого майна, земельних ділянок)
    </li>
  </ul>
</div>
