<div class="services-wrapper">
  <div class="container services-container">
    <h2 class="title services-title">Наші послуги</h2>
    <div class="services-lists-wrap">
      <div class="services-list-wrapper">
        <h3 class="services-list-title">
          Виготовлення технічного паспорту на:
        </h3>
        <ul class="services-list">
          <li class="services-item">
            <svg class="services-icon" width="20" height="20">
              <use href="/src/img/icons.svg#icon-done"></use>
            </svg>
            квартиру
          </li>
          <li class="services-item">
            <svg class="services-icon" width="20" height="20">
              <use href="/src/img/icons.svg#icon-done"></use>
            </svg>
            житловий(садовий, дачний) будинок
          </li>
          <li class="services-item">
            <svg class="services-icon" width="20" height="20">
              <use href="/src/img/icons.svg#icon-done"></use>
            </svg>
            комплеск будівель та споруд
          </li>
        </ul>
      </div>
      <div class="services-list-wrapper">
        <h3 class="services-list-title">Супровід:</h3>
        <ul class="services-list">
          <li class="services-item">
            <svg class="services-icon" width="20" height="20">
              <use href="/src/img/icons.svg#icon-done"></use>
            </svg>
            приватизація земельних ділянок
          </li>
          <li class="services-item">
            <svg class="services-icon" width="20" height="20">
              <use href="/src/img/icons.svg#icon-done"></use>
            </svg>
            оцінка (нерухомого майна, земельних ділянок)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
